---
import MainLayout from '../layouts/main-layout.astro'
import Button from '../components/button.tsx'
import ArrowSec from '../icons/arrow-sec.tsx'
import CallIcon from "../icons/call.tsx"
import Experience from '../components/experience.tsx'


const summaries = [
	{
		title: 'BYOB(ook)',
		text: 'No assigned literature, bring whatever you are currently reading - in whatever format you choose.'
	},
	{
		title: 'Socialising Optional',
		text: 'Simply an hour of silent uninterrupted reading with optional socialising before and after.'
	},
	{
		title: 'Part of A Global Community',
		text: 'With more than 1000 chapters in 50 countries, we gather to read in quiet camaraderie.'
	},
]

// const events = [
// 	{
// 		img: '',
// 		name: 'Sugar Loaf Fields',
// 		location: '21/5/24',
// 		review: ''
// 	},
// 	{
// 		img: '',
// 		name: 'TBC',
// 		location: '',
// 		review: ''
// 	},
// 	{
// 		img: '',
// 		name: 'TBC',
// 		location: '',
// 		review: ''
// 	},
// ]

const events = [
	{
		announced: true,
		img: '/sugarloaf.jpg',
		location: 'Roots Allotments Sugar Loaf Fields',
		date: '21st May 2024 6.30pm - 8.30pm',
		link: 'https://www.meetup.com/silent-book-club-stourbridge/events/300350935/',
		position: 'left'
	},
	{
		announced: false,
		img: '/bookshop.jpg',
		location: 'To Be Announced',
		date: '',
		link: '',
		position: 'right'
	}
]

// const clientLogos = [
// 	{
// 		img: '/clientLogo1.svg',
// 	},
// 	{
// 		img: '/clientLogo2.svg',
// 	},
// 	{
// 		img: '/clientLogo3.svg',
// 	},
// 	{
// 		img: '/clientLogo4.svg',
// 	},
// 	{
// 		img: '/clientLogo5.svg',
// 	},
// ]

// const experiences = [
// 	{
// 		num: 12,
// 		text:'Years Of Experiance'
// 	},
// 	{
// 		num: 85,
// 		text:'Success Project'
// 	},
// 	{
// 		num: 15,
// 		text:'Active Project'
// 	},
// 	{
// 		num: 95,
// 		text:'Happy Customers'
// 	},
// ]

---

<MainLayout title = 'Silent Book Club Stourbridge: Home'>

	<!-- Banner -->
	
	<section class="w-full bg-hero bg-no-repeat bg-cover h-screen lg:min-h-[110vh] px-12 xl:px-0 flex items-center ">
		<div class="lg:max-w-[1200px] w-full mx-auto flex flex-col">
			<h1 class="text-[40px] leading-[50px] md:text-[60px] xl:text-[85px] pb-0 font-dm md:leading-[106.25px] w-full xl:max-w-[50%] text-white ml-auto bg-primary-slate p-6"> Silent Book Club Stourbridge </h1>
			<p class="text-base md:text-[22px] pb-5 font-nunito font-bold text-secondary-brick w-full lg:max-w-[50%] ml-auto bg-primary-slate p-6">A book club for introverts.</p>
			<!-- <Button text="Get Started"/> -->
		</div>
	</section>

	<!-- Summary Section -->

	<section class="bg-primary-slate">
		<div class="lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 lg:flex-row px-12 xl:px-0 w-full mx-auto pt-[50px] pb-[50px] lg:pt-[100px] lg:pb-[100px] justify-between ">
			{
				summaries.map((summary) => {
					return (
						<div class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5">
							<h3 class="text-white font-nunito font-bold text-[22px] md:text-[25px] leading-loose">{summary.title}</h3>
							<p class="text-primary-clay md:text-[22px] tracking-tight font-mulish leading-[33px] text-center"> {summary.text}</p>
						</div>
					)
				})
			}
		</div>
	</section>

	<!-- Next Event Section -->

	<section class="w-full lg:max-w-[1200px] mx-auto px-12 xl:px-0 flex flex-col-reverse justify-center items-center lg:grid grid-cols-2 gap-[75px] pt-[50px] pb-[50px] lg:pt-[100px] lg:pb-[100px]">
		<div class="flex flex-col gap-8 max-w-[472px] items-center lg:items-start py-6">
			<h2 class="text-[30px] text-center capitalize lg:text-left font-nunito font-bold tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">Join us at our next event...</h2>
			<p class="text-base md:text-[22px] text-center lg:text-left tracking-tight font-mulish text-text-gray leading-[33px]">As the weather begins to warm up, why not spend an hour or two surrounded by nature in the peace and quiet with a good book.</p>
			<Button text="RSVP Now" meetupLink="https://www.meetup.com/silent-book-club-stourbridge/events/300350935/"/>
		</div>

		<div>
			<img src="/sugarloaf.jpg" alt="" class="" />
		</div>
	</section>

	<!-- Future Events Section

	<section class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[200px] ">
	<div class="w-full flex flex-col bg-primary-300 rounded-[48px] px-6 py-[88px]">
		<h2 class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto">Future Events</h2>
		<div class="flex flex-col gap-8 lg:gap-10 lg:flex-row justify-between">
			{
			events.map((event) => {
				return (
					<div class="w-full bg-white max-w-[370px] px-[37px] py-[53px] rounded-3xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
						<div class="flex flex-col sm:flex-row gap-6 items-center">
							<img src={event.img} alt="" />
							<p class="flex flex-col tracking-tight leading-9">
								<span class="text-primary-200 text-lg lg:text-[25px] font-dm">{event.name}</span>
								<span class="text-text-gray-200 text-base lg:text-lg font-mulish">{event.location}</span>
							</p>
						</div>
						<p class="font-mulish tracking-tight leading-8 text-base text-center sm:text-left text-text-gray lg:text-[22px]">{event.review}</p>
					</div>
			)
		})
		}
		</div>
	</div>
	</section> -->

	<!-- Client Logo Section

	<section class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[200px] ">
		<div class="w-full flex flex-row justify-between items-center gap-12 max-w-[1200px] overflow-x-scroll no-scrollbar">
			{
				clientLogos.map(logo => <img src={logo.img} alt="" />)
			}
		</div>
	</section> -->

	<!-- Future Events Section -->

	<section class="bg-primary-slate">
		<div class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[50px] pb-[50px] lg:pt-[100px] lg:pb-[100px]">
			<h2 class="font-nunito font-bold tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-2 mx-auto text-white">...And Our Future Events</h2>
			<p class="md:text-[22px] text-center tracking-tight font-mulishleading-[33px] lg:max-w-[60%] mx-auto text-primary-clay">Here's what we've got lined up.</p>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-[104px] lg:gap-y-[56px] mt-12 lg:mt-[93px]">
				{
				events.map((event) => {
					return (
						<div class="w-full flex flex-col gap-4 bg-white p-14 rounded-[18px]">
						<img src={event.img} alt="" class="lg:h-80"/>
								<p class="flex flex-col tracking-tight leading-9">
									<span class="text-primary-slate text-lg lg:text-[25px] font-nunito font-bold">{event.location}</span>
									<span class="text-primary-clay text-base lg:text-lg font-mulish">{event.date}</span>
								</p>
								{event.announced ? <Button text="RSVP Now" meetupLink={event.link}/> : null}
						</div>
				)
			})
			}
			</div>
		</div>
	</section>
</MainLayout>
 

<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

</style>